{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tada | {{ category|title }} Articles{% endblock %}
{% block meta_description %}
<meta name="description"
    content="Latest {{ category|title }} news articles and updates. Stay informed with our curated selection of {{ category|title }} stories.">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="col-md-12  container--list">
            <div class="row">
                <div class="category-title">
                    <h1>{{ category|title }} Articles</h1>
                </div>
            </div>
            {% for article in page_obj %}
            <div class="blog-post  blog-post--list  blog-post--list--fullwidth">
                <div class="row">
                    <div class="col-sm-6  col-md-6  blog-post__image">
                        <a href="{% url 'article_detail' slug=article.slug %}"><img src="{{article.image_url}}"
                                alt="Cup Of Coffee On The Window Sill"></a>
                    </div>
                    <div class="col-sm-6  col-md-6  blog-post__list-content">
                        <div class="blog-post__info  blog-post__info--date">
                            <span><a href="{% url 'article_detail' slug=article.slug %}">By -{{article.author}}</a></span>

                            <span>{{ article.published_at| date:"F j, Y" }}</span>

                            <span><a href="{% url 'article_detail' slug=article.slug %}#comments">{{ article.comments.count }} Comment{{comments.count|pluralize }}</a></span>
                            

                        </div>
                        <div class="blog-post__title">
                            <h2><a href="{% url 'article_detail' slug=article.slug %}">{{article.title}}</a></h2>
                        </div>
                        <div class="blog-post__content">
                            <p>{{ article.description| truncatewords:18 }}</p>
                        </div>
                        <div class="blog-post__footer">
                            <a class="blog-post__footer-link" href="{% url 'article_detail' slug=article.slug %}">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <nav class="blog-pagination">
                <ul class="blog-pagination__items">

                    {# Previous Page link #}
                    {% if page_obj.has_previous %}
                    <li class="blog-pagination__item">
                        <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    {# Numbered page links #}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="blog-pagination__item blog-pagination__item--active">
                        <a>{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="blog-pagination__item">
                        <a href="?q={{ query }}&page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {# Next Page link #}
                    {% if page_obj.has_next %}
                    <li class="blog-pagination__item">
                        <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next Page</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</main>
{% endblock %}