{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tada | Latest news and blog articles{% endblock %}
{% block meta_description %}
<meta name="description" content="Explore the latest posts on tech, tips, and trends from Tada.">
{% endblock %}


{% block content %}
<main>
  <div class="container">
    <div class="col-md-8  col-lg-9  container--list">
      {% for article in page_obj %}
      <div class="blog-post  blog-post--list">
        <div class="row">
          <div class="col-sm-6  col-md-6  blog-post__image">
            <a href="{% url 'article_detail' slug=article.slug %}"><img src="{{article.image_url}}"
                alt="Cup Of Coffee On The Window Sill"></a>
          </div>
          <div class="col-sm-6  col-md-6  blog-post__list-content">
            <div class="blog-post__info  blog-post__info--date">
              <span><a href="{% url 'article_detail' slug=article.slug %}">By {{article.author}}</a></span>

              <span>{{ article.published_at| date:"F j, Y" }}</span>
              <span><a href="{% url 'article_detail' slug=article.slug %}#comments">{{ article.comments.count }} Comment{{comments.count|pluralize }}</a></span>
            </div>
            <div class="blog-post__title">
              <h2><a href="{% url 'article_detail' slug=article.slug %}">{{ article.title |truncatewords:12 }}</a></h2>
            </div>
            <div class="blog-post__content">
              <p>{{ article.description| truncatewords:18 }}</p>
            </div>
            <div class="blog-post__footer">
              <a class="blog-post__footer-link" href="{% url 'article_detail' slug=article.slug %}">Read more</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <nav class="blog-pagination">
        <ul class="blog-pagination__items">

          {# Previous Page link #}
          {% if page_obj.has_previous %}
          <li class="blog-pagination__item">
            <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% endif %}

          {# Numbered page links #}
          {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <li class="blog-pagination__item blog-pagination__item--active">
            <a>{{ num }}</a>
          </li>
          {% else %}
          <li class="blog-pagination__item">
            <a href="?q={{ query }}&page={{ num }}">{{ num }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {# Next Page link #}
          {% if page_obj.has_next %}
          <li class="blog-pagination__item">
            <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next Page</a>
          </li>
          {% endif %}

        </ul>
      </nav>

    </div>
    <div class="col-md-4  col-lg-3">
      <div class="sidebar-widget">
        <h3>About Me</h3>
        <div class="sidebar-widget__about-me">
          <div class="sidebar-widget__about-me-image">
            <img src="{% static 'img/about-me.jpg' %}" alt="About Me">
          </div>
          <p>Curated stories, thoughtful ideas, and inspiration for curious minds. This blog explores everyday
            moments, creativity, and the beauty of slowing down to think, feel, and write.</p>
        </div>
      </div>
      <div class="sidebar-widget">
        <h3>Follow Me</h3>
        <div class="sidebar-widget__follow-me">
          <div class="sidebar-widget__follow-me-icons">
            <a>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
              </svg>
            </a>
            <a>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
              </svg>
            </a>
            <a>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
              </svg>
            </a>
            <a>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use>
              </svg>
            </a>
            <a>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="sidebar-widget">
        <div class="sidebar-widget__banner">
          <a href=""><img src="{% static 'img/img3.jpg' %}" alt="Banner"></a>
        </div>
      </div>
      <div class="sidebar-widget">
        <h3>Popular Posts</h3>
        <div class="sidebar-widget__popular">
          {% for post in latest_posts %}
          <div class="sidebar-widget__popular-item">
            <div class="sidebar-widget__popular-item-image">
              <a href="{% url 'article_detail' slug=post.slug %}"><img src="{{ post.image_url }}"
                  alt="Flower Bedroom Ideas"></a>
            </div>
            <div class="sidebar-widget__popular-item-info">
              <div class="sidebar-widget__popular-item-date">
                <span>{{ article.published_at| date:"F j, Y" }}</span>
              </div>
              <div class="sidebar-widget__popular-item-content">
                <a href="{% url 'article_detail' slug=post.slug %}">{{ post.title|truncatewords:5 }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="sidebar-widget">
        <h3>Tag Cloud</h3>
        <div class="sidebar-widget__tag-cloud">
          {% for tag in tags %}
          <a href="{% url 'tag_detail' slug=tag.slug %}">{{ tag.name }}</a>
          {% empty %}
          <p>No tags available.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}