{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tada | Privacy-Policy{% endblock %}

{% block content %}
<section class="tada page" style="text-align: center; margin: 100px 0;">

    <!-- *** CONTENT *** -->

    <div>

        <!-- ARTICLE 1 -->

        <article>
            <div>
                <h2 class="text-2xl font-bold mb-4" style="margin: 40px 0;">Privacy Policy</h2>
            </div>
            <div >
                <p class="mb-2" style="font-size: large;">Your privacy is important to us. This policy explains how we handle your data...</p>
                <p style="font-size: large;">We do not collect personal information unless explicitly provided by you. Cookies may be used to enhance your experience.</p>
                <p style="font-size: large;">If you have any questions, contact us at <a href="mailto:tadablog@gmail.com" class="text-blue-500 underline">tadablog@gmail.com</a>.</p>
                <div class="clearfix"></div>

            </div>

        </article>

    </div>


    <div class="clearfix"></div>

</section>
{% endblock %}


