{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tada | Privacy-Policy{% endblock %}

{% block content %}
<section class="max-w-3xl mx-auto py-10 px-4" style="text-align: center; margin: 100px 0;">
    <h1 class="text-2xl font-bold mb-4">Privacy Policy</h1>
    <p class="mb-2">Your privacy is important to us. This policy explains how we handle your data...</p>
    <p>We do not collect personal information unless explicitly provided by you. Cookies may be used to enhance your experience.</p>
    <p>If you have any questions, contact us at <a href="mailto:tadablog@gmail.com" class="text-blue-500 underline">tadablog@gmail.com</a>.</p>
</section>
{% endblock %}


